body, html {
	height: 100%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFF6EF; 
  }
  
  .container {
	text-align: center;
  }
  
  .container h1 {
	color: black;
  font-size: 50px;
  font-family: Arial, sans-serif;
  }
  
  .inputs {
	margin-bottom: 20px;
  }
 .inputs input[type="text"] {
  flex: 1;
  width: 300px; 
  padding: 15px;
  margin-right: 20px;
  font-size: 1.4em;
}
  
  .inputs button {
	padding: 15px 30px; 
	font-size: 1.4em; 
  }
  
  .centered {
	text-align: left;
  }
  
  .record-button {
	display: flex;
	justify-content: center;
	margin-top: 5px; 
  }
  
  .record-button img {
	width: 600px; 
	height: auto; 
  }
  
#videoTitle {
	margin-top: 10px; 
	font-size: 1.5em; 
	font-weight: bold; 
	text-align: center;
  }
