.user-img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    transform: translateY(25px);
}

#photo {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 125% 185%;
}

#file {
    display: none;
}

#upload_btn {
    position: absolute;
    height: 40px;
    width: 38px;
    padding: 6px 6px;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    transform: translateX(375px);
    margin-top: 280px;
    background-color: rgb(173, 172, 172, 0.801);
    box-shadow: 2px 4px 4px rgb(0, 0, 0, 0.644);
}

#userName {
    position: absolute;
    transform: translateX(445px);
    margin-top: 160px;
    font-size: 24px;
    font-weight: bold;
}

#userRole {
    position: absolute;
    transform: translateX(445px);
    margin-top: 195px;
    font-size: 18px;
    color: white;
}

.divider {
    position: absolute;
    align-items: start;
    background-color: #d29648;
    background-blend-mode: soft-light;
    width: 135.4vh;
    height: 79px;
    transform: translateX(50px) translateY(350px);
    margin-top: 3vh;
}

.divider .edit-btn {
    position: relative;
    transform: translateX(1600px);
    margin-top: 2vh;
    box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.divider .edit-btn:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}

.divider .edit-btn:active {
	position:relative;
	top:1px;
}

.info-container {
    position: absolute;
    /*  background-color: black;
    opacity: 75%;*/
    width: 150vh;
    height: 400px;
    transform: translateX(50px);
    margin-top: 48vh;
    align-content: start;
}
.info-container .h3 {
    margin-top: 2.5vh;
    margin-left: 38vh;
}

#userAbout {
    margin: 30vh;
}

#userGender {
    margin: 32vh;
}

#userBirthday {
    margin: 35vh;
}

.profile-h1 {
    position: absolute;
    left: 200px;
    top: 25px;
    color: #fff;
    font-weight: 700;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 2pt;
}

.profile-h2 {
    position: relative;
    transform: translateX(200px) translateY(50px);
    font-size: 18pt;
    font-family: serif;
    color: white;
    letter-spacing: 1pt;
    margin-top: 10pt;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgb(0,0,0,0.4);
    z-index: 1;
}
.popup .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale();
    background: #fff;
    width: 450px;
    height: 220px;
    z-index: 2;
    text-align: center;
    padding:  20px;
    box-sizing: border-box;
}

.popup .closeBtn {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.popup.active .overlay {
    display: block;
}

.popup.active .content {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    margin-top: 15vh;
    margin-bottom: 10vh;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
    border-radius: 8px;
    position: relative; 
}


.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    transition: color 0.3s ease;
}

.close-btn:hover {
    color: #f44336;
}

.modal-content h2 {
    font-size: 2em;
    color: #007bff;
    margin-bottom: 20px;
    text-align: center;
}

.form-group h3 {
    margin: 10px 0;
    font-size: 1.2em;
    color: black;
}

#saveButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    display: block;
    margin: 20px auto;
}

#saveButton:hover {
    background-color: #0056b3;
}

.form-group1 {
    margin-top: 20px; /* Adds space between form fields */
    color: black;
}

#passwordStrengthLabel {
    display: block;
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #ff0000; /* Default weak color */
    margin-top: 49vh;
    margin-left: 1.5vh;
}

#passwordStrengthLabel.strong {
    color: #28a745; /* Green color for strong password */
}

#passwordStrengthLabel.weak {
    color: #ff0000; /* Red color for weak password */
}

#editPassword, #editConfirmPassword, #editAbout, #editBirthday, #editGender{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; /* Space between password input and label */
}



